<!-- This is profile's index.ejs-->

<!--Including Header Partial-->
<%- include ../layouts/header.ejs %>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>

<script type="text/javascript">z
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>
<h1><%=username%></h1>
<table border="0" width='60%'>
    <tr style='text-align:center; background-color:#CCC'>

        <th>Full Name</th>
        <th>Email</th>
        <th>Percent Match</th>
    </tr>
        <% if (data) { %>
            
            <% data.forEach(function(item){ %>
            
            <% if(item.user_name == this.username)
                score = item.score%>
               <% })%>
            <%console.log(score);%>
            <% data.forEach(function(item){ %>
            <%if(item.user_name != this.username) { %>
                <%
                if(item.score<=score){
                    ratio = item.score/score
                    ratio = ratio*100;
                    ratio = Math.round(ratio);
                }
                else{
                    ratio = score/item.score;
                    ratio = ratio*100;
                    ratio = Math.round(ratio);
                }
                %>
        <% if(ratio >= 75){ %>
            <tr>
                <td><%= item.full_name %></td>
                <td><%= item.email %></td>
                <td><%= ratio %></td>
                
            </tr>
            <% } %>
            <% } %>
        <% }) %>
    <% } %>
</table>


<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>
