<!-- This is profile's index.ejs-->

<!--Including Header Partial-->
<%- include ../layouts/header.ejs %>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>

<script type="text/javascript">z
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>
<h1><%=username%></h1>
<table border="0" width='60%'>
    <tr style='text-align:left; background-color:#CCC'>

        <th>Score</th>
        <th>Match</th>
        <th>Username</th>
    </tr>
        <% if (data) { %>
    
            <% data.forEach(function(item){ %>
            <% if(item.id == 1)
                score = item.score%>
            <%if(item.id != 1) { %>
                <%
                if(item.score<=score){
                    ratio = score/item.score
                }
                else{
                    ratio = item.score/score
                }
                if(ratio >= 0.8){
                    match = item.id
                }

                %>
            <tr>
                <td><%= item.score %></td>
                <td><%= item.id %></td>
                <td><%= item.user_name %></td>
                
            </tr>
            <% } %>
        <% }) %>
    <% } %>
</table>


<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>